<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mapper.BoardMapper">

	<!-- 게시판 글쓰기 -->
	<insert id="insertBoard">
		insert into tbl_board (title,content,writer)
		values(#{title},#{content},#{writer})
	</insert>
	
	
	<!-- 게시판 리스트(all) -->
	<select id="listALL" 
			resultType="com.itwillbs.domain.BoardVO">
		select * from tbl_board
		order by bno desc
	</select>

	<!-- 게시판 본문보기 -->
	<select id="getBoard" resultType="BoardVO">
		select * from tbl_board
		where bno=#{bno}
	</select>
	
	
	<!-- 게시판 글 조회수 1증가 -->
	<update id="increaseViewcnt">
		update tbl_board
		set viewcnt = viewcnt + 1
		where bno = #{bno}
	</update>
	
	
	<!-- 게시판 글 수정하기 -->
	<update id="boardUpdate">
		update tbl_board
		set title=#{title}, content=#{content}, writer=#{writer}
		where bno = #{bno}
	</update>
	
	
	<!-- 게시판 글 삭제하기 -->
	<delete id="boardDelete">
		delete from tbl_board
		where bno = #{bno}
	</delete>
	
	

</mapper>












